
<div class="hero-unit">

  <h1>About Us</h1>
  <ul class="thumbnails">
    <li class="span4">
      <div class="thumbnail">

        <h3>Information </h3>
        <p>Time Pieces is an official stockist for all watch brands listed on this website. Established in 1991 on the high street, Watch Shop is a leading retailer of brand name designer watches and is also the UK's most popular watch website*. Watch Shop was the first independent watch retailer to advertise on national television, and we pride ourselves on having one of the most efficient shopping systems available with communication at every stage to inform you of your order status, as well as excellent 7-days sales, customer service and support team who are glad to assist you with any enquiry.
        </p>
      </div>
    </li>


    <li class="span4">
      <div class="thumbnail">
        <iframe width="280" height="365" src="http://www.youtube.com/watch?v=YMnig-nQqKk" frameborder="0" allowfullscreen></iframe>
        <h4>Time Pieces No 1 Online store in Ireland    </h4>
        <h5>Call us on (01-2354444)
          And let time catch you
        </h5>

      </div>



  </ul>
</div>
