/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require dataTables/src/demo_table_jui
 *= require_tree .
*/



html
{ height: 100%;}

*
{ margin: 0;
    padding: 0;}

body
{ font: normal 100% Georgia, serif;
    background: #909793;
    color: #000000;}

p
{ padding: 0 0 15px 0;
    line-height: 1.7em;
    font-size: 100% }

img
{ border: 0;}

h1, h2, h3, h4, h5, h6
{ font: normal 175% Georgia, serif;
    color: #ffee2f;
    letter-spacing: -1px;
    margin: 0 0 10px 0;
    padding: 5px 0 0 0;}

h2
{ font: normal 165% Georgia, serif;}

h3
{ font: normal 100% Georgia, serif;
}

h3 a, h3 a:hover
{ color: #1356FF;
}

h4, h5, h6
{ margin: 0;
    padding: 0 0 5px 0;
    font: normal 150% Georgia, serif;
    color: #1356FF;
    line-height: 1.5em;}

h5, h6
{ font: normal 95% Georgia, serif;
    color: #888;
    padding-bottom: 15px;}

a, a:hover
{ background: transparent;
    outline: none;
    text-decoration: none;
    color: #1356FF;
}

a:hover
{ text-decoration: underline;}

ul
{ margin: 2px 0 22px 30px;
    line-height: 1.7em;
    font-style: normal;
    font-size: 100%;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #header, #banner, #menubar, #site_content, #footer
{ margin-left: auto;
    margin-right: auto;}

#main
{ background: transparent;}

#header
{ width: 1070px;
    padding: 50px 0 0 0;
    background: transparent;}

#welcome
{ width: 345px;
    float: left;
    height: 35px;
    padding: 10px 0 10px 20px;
    margin: 0 auto;
    background: transparent;}

#welcome H1
{ font: normal 200% times, Helvetica, sans-serif;
    color: #FFF;}

span
{ color: #1356FF;}


#menubar
{ width: 900px;
    height: 35px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
    float: right;
    background: transparent;}

ul#menu
{
    margin: 0;
    float: right;}

ul#menu li
{ padding: 0 0 0 0px;
    list-style: none;
    margin: 2px 0 0 0;
    display: inline;
    background: transparent;}

ul#menu li a
{ font: normal 120% Georgia, serif;
    float: left;
    letter-spacing: -1px;
    height: 30px;
    width: 125px;
    padding: 5px 0 0 0;
    margin-top: 15px;
    text-align: center;
    color: #0f22ff;
    text-decoration: none;
    background: transparent;}

ul#menu li a:hover
{ color: #FFF;
    text-decoration: underline;}

ul#menu li.current a
{ color: #1356FF;
    text-decoration: underline;}

#site_content
{ width: 1065px;
    overflow: hidden;
    margin: 0 auto;
    padding: 20px 0 0 0;}

#text_content
{ float: left;
    width: 500px;
    padding: 0;
    margin: 0 20px 0 20px;}

/* styling for the slideshow on the homepage */
ul.slideshow {
    list-style: none;
    width: 500px;
    height: 450px;
    overflow: hidden;
    position: relative;
    margin-left: 20px;
    padding: 0;}

ul.slideshow li {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;}

ul.slideshow li.show {
    z-index: 500;}

ul img {
    border: none;}

#slideshow-caption {
    width: 500px;
    text-align: right;
    height: 44px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 500;}

#slideshow-caption .slideshow-caption-container {
    background: transparent url(transparent.png) repeat;
    padding: 10px 45px 10px 25px;
    z-index: 1000;}

#slideshow-caption p {
    padding: 0;
    font: normal 130% arial, sans-serif;
    color: #FFF;}

#footer
{ font: normal 120% Georgia, serif;
    width: 1070px;
    letter-spacing: -1px;
    padding: 0 0 26px 0;
    text-align: center;
    background: transparent;
    color: #FFF;}

#footer a, #footer a:hover
{ color: #FFF;
    text-decoration: none;}

#footer a:hover
{ text-decoration: underline;}

.footer_container_box
{ font: normal 80% Arial, Helvetica, sans-serif;
    width: 325px;
    padding: 5px;
    text-align: center;
    margin: 10px 10px 10px 10px;
    float: left;
    background: transparent;
    color: #FFF;}

.footer_container_boxl
{ font: normal 80% Arial, Helvetica, sans-serif;
    width: 325px;
    padding: 5px;
    text-align: center;
    margin: 10px 0 10px 10px;
    float: left;
    background: transparent;
    color: #FFF;}
#items {
    list-style: none;
    padding: 0;
    float: left;
}

#items .item {
    float: left;
    border: 4px solid #ccc;
    background-color: #fff;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
}

.carts
.cart_title {
    font: 120% bold;
}

.item_price, .total_line {
    text-align: right;
}

.total_line .total_cell {
    font-weight: bold;
    border-top: 1px solid #595;
}

p#footer{

 font: normal 80% Arial, Helvetica, sans-serif;
    width: 325px;
    padding: 5px;
    text-align: center;
    margin: 10px 10px 10px 10px;
    float: left;
    background_color: #0f22ff;
background: transparent;
outline: none;
text-decoration: none;
color: #1356FF;

}